@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #2B2D42;
    --text-color-primary: #ffc914;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffc914;
    margin-top: 60px;
}